<p id="notice"><%= notice %></p>

<h1>Listing Employees</h1>
<h2><a href="http://localhost:3000/jobs"> Jobs </a></h2>
<h2><a href="http://localhost:3000/tasks"> Tasks </a></h2>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Employee name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.employee_id %></td>
        <td><%= employee.employee_name %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
